#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}
#menu {
    border-top: solid 6px #f00;
    background-color: #f00;
    color: #fff;
    height: 400px;
}

#menu a {
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #f00;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #f00;

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.card-img-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-img-uniform {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


